h1
{
   
    color: rgb(158, 40, 40);
    text-align: center;
}
body{
    background: rgb(8, 2, 2);
}


th,td
{
    padding:15px;
    border: 1px solid rgb(65, 61, 61) ; 
}
 
th
{
  background:rgb(122, 47, 47);
}

.table-ti #fonTable
{
    border: 2px solid rgb(7, 6, 6);
    background:  rgb(39, 155, 155);
    margin-left: 75%;
}
