h1
{
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: orangered;
  text-align: center;
  margin: 6%;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}

p
{
  text-align: center;
  color: rgb(8, 8, 7);
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.P1
{
  font-size: 30px;
}

.UL1
{
  text-align: center;
  margin: 10%;
  color: black;
  background-color: chocolate;
  font-family: cursive;
  padding: 5px;

}

h2
{
  background-color: rgb(93, 220, 20);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: cursive;
  text-align: center
}

body
{
  background-image: url(http://st.gde-fon.com/wallpapers_original/657743_park_doroga_derevya_peyzaj_2048x1438_www.Gde-Fon.com.jpg);
  color: rgb(248, 245, 245);
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size:100% 100%;
}


div
{
  font-family: Arial, Helvetica, sans-serif;
  font-family: cursive;
  color: darkorchid;
  font-size: 20px;
}

a
{
   font-size: 20px;
   font-style: italic;
   color: rgb(234, 222, 243);
}

article
{
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: 20px;
  font-style: italic;
  font-variant: initial;
}

main
{
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: 20px;
  font-style: italic;
}

.IM
{
  text-align: left;
  color: aqua;
}

.PR
{
  color: aqua;
  text-align: left;
}

ol
{
  font-style: oblique;
  font-size: 20px;
  font-family: cursive;
  
}


ul
{
  color: olive;
   font-style: italic;
  font-size: x-large;
font-family: 'Courier New', Courier, monospace;
}

.center_img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
